#skillWall{
  display: inline-block;
  margin-bottom: 5%;
}

#modalAdd{
  background-color: inherit;
  border: none;
  font-size: 150%;  
}

.modal-header{
  background-color: rgb(228, 110, 110);
}
.card-body{
  border: solid gray;
}
#user{
  width: 10%;
  height: 10%;
}
.card-title{
  display: inline;
  margin-left: 5%;
}

#skillsDelete{
  background-color: rgb(99, 99, 99);
  border: none;
  color: white;
  height: 4%;
  font-size: 150%;
}